.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}
h1 {
  font-size: 30px;
  color: #EAB464;
}
h2 {
  font-size: 20px;
color: #A2A2A2;
}
h3 {
  color: #D2D2D2;
}
p {
  font-family: 'Playfair Display', serif;
  color: #EAB464;
}
