.topnav {
  height: 100px;
  background-color: transparent;
  position: absolute;
  width: 100%;
}
.topnav h2 {
  color: white;
  cursor: pointer;
  opacity: 0.9;
}
.bottom-nav a {
  text-decoration: none;
  color: white;
  justify-content: space-between;
}
.bottom-nav a:hover {
  color: #ddba77;
  text-decoration: none;
}
