body {
  background-color: #eff4f0;
  font-family: font-family: 'Roboto', sans-serif;
  line-height: 15px;
}

h1 {
  font-size: 30px;
  color: #EAB464;
}
h2 {
  font-size: 20px;
color: #A2A2A2;
}
h3 {
  color: #D2D2D2;
}
p {
  font-family: 'Playfair Display', serif;
  color: #EAB464;
}
.photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 100% 50%;
}
.botton {
  background-color: #153B50;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 15px 20px;
  position: relative;
  top: 10px;

}
a:hover {
  color: #7C9DA8;
}
.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}
.container {
  width: 700px;
  margin: 0 auto;
}
.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline;
}

.list-inline a {
  font-size: 32px;
  margin: 8px;
  color: rgb(80,80,80);
}
a {
  text-decoration: none;
}
.whiskey {
width: 300px;
  height: 250px;

}
.beer {
  width: 300px;
  height: 250px;
}
.bar {
  width: 400px;
  height: 300px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

