.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: transparent;
  width: 60%;
}

.right {
  right: 0;
  background-color: blue;
  background-size: cover;
  width: 40%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.left,
.centered,
.about-section {
  /* background-image: url(https://uploads-ssl.webflow.com/601a0bef6a367365b406d7cd/602f4021457b6b505090dd9a_news_s.jpg); */
  background-color: transparent;
  background-size: cover;
  width: 100%;
}

.row {
  padding: 0px;
  margin: 0px;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 76%;
  height: 100vh;
  background-image: url(https://uploads-ssl.webflow.com/601a0bef6a367365b406d7cd/602f4021457b6b505090dd9a_news_s.jpg);
  background-position: 50% 50%;
  background-size: cover;
}
.about-section {
  background-color: aqua;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 200vh;
  padding-top: 0%;
  padding-right: 0%;
  padding-left: 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
